/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Castoro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/castoro.ttf) format('truetype');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/google-sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../fonts/noto-sans.ttf) format('truetype');
}
